<ul>
	<li><a href="#sobre">Sobre</a></li>
	<li><a href="#skills">Skills</a></li>
	<li><a href="#portfolio">Portfólio</a></li>
	<li><a href="#contato">Contato</a></li>
</ul>

<!-- Seção Sobre -->
<section id="sobre">
	<!-- Conteúdo da seção Sobre -->
</section>

<!-- Seção Skills -->
<section id="skills">
	<!-- Conteúdo da seção Skills -->
</section>

<!-- Seção Portfólio -->
<section id="portfolio">
	<!-- Conteúdo da seção Portfólio -->
</section>

<!-- Seção Contato -->
<section id="contato">
	<!-- Conteúdo da seção Contato -->
</section>
