.menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu li a {
  font-family: Montserrat-alternates, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 5px;
}

.menu li a:hover {
  text-decoration: underline;
}


.contato {
  color: white;
  transition: background 0.3s;  
  background: 
    linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, #FF3C57,  #8E0038) border-box;
  border: 5px solid transparent;
  border-radius: 50px;
  
  color: white;
}

.contato:hover {
  background-color: #e91e63;
  color: white;
}
