<div class="text-amber-50 font-extrabold me-10 text-x1">
	<ul class="flex tracking-wider space-x-24">
		<li><a href="#sobre">Sobre</a></li>
		<li><a href="#skills">Skills</a></li>
		<li><a href="#portfolio">Portfólio</a></li>
		<li><a href="#contato" class="contato">Contato</a></li>
	</ul>
</div>


<!-- Seção Sobre -->
<section id="sobre">
	<!-- Conteúdo da seção Sobre -->
</section>

<!-- Seção Skills -->
<section id="skills">
	<!-- Conteúdo da seção Skills -->
</section>

<!-- Seção Portfólio -->
<section id="portfolio">
	<!-- Conteúdo da seção Portfólio -->
</section>

<!-- Seção Contato -->
<section id="contato" >
	<!-- Conteúdo da seção Contato -->
</section>
