.app-header {
    display: flex;
    align-items: center;
    padding: 50px 50px; 
    background-color: #0B0B0B; 
    justify-content: space-around;
    height: 10vh;
}

.logo {
    width: 230px;
    height: 230px;
    padding-top: 2%;
}