<app-header></app-header>
<main>
	<section class="flex h-[80vh] bg-gray-200" alt="Card de Apresentação">
		<div class="w-1/2 bg-gray-200 relative flex flex-col justify-center items-center">
		  <p class="text-xl">Olá, <span class="inline-block animate-wave">👋</span></p>
		  <h1 class="text-5xl font-bold">Victor Viana</h1>
		  <p class="text-2x1 font-bold text-gray-500 mt-4">Engenheiro de Software</p>
			<div>
				<div *ngIf="showAlert"
					class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-rose-600 text-white px-6 py-3 rounded shadow-lg z-50 transition-opacity duration-900 ease-in-out"
					[@fadeInOut]>
					✅ E-mail copiado com sucesso!
				</div>
				<div class="flex justify-center items-center space-x-4 mt-4">
					<div class="w-16 h-16 bg-gray-300 shadow-xl flex justify-center items-center rounded transition-transform duration-300 hover:scale-110 active:scale-95 cursor-pointer" (click)="copyEmailToClipboard()">
						<img src="/assets/email_icon.ico" alt="Icon Email" class="w-8 h-8">
					</div>

					<div class="w-16 h-16 bg-gray-300 shadow-xl flex justify-center items-center rounded transition-transform duration-300 hover:scale-110 active:scale-95">
						<a href="https://www.linkedin.com/in/vianadeveloper/" target="_blank" rel="noopener noreferrer">
							<img src="/assets/linkedin_icon.ico" alt="Icon Linkedin" class="w-8 h-8">
						</a>					
					</div>

					<div class="w-16 h-16 bg-gray-300 shadow-xl flex justify-center items-center rounded transition-transform duration-300 hover:scale-110 active:scale-95">
						<a href="https://github.com/developerviana" target="_blank" rel="noopener noreferrer">
							<img src="/assets/github_icon.ico" alt="Icon GitHub" class="w-8 h-8">
						</a>
					</div>
					
				</div>
			</div>
		</div>
	  
		<div class="w-1/2 bg-black flex clip-right items-center justify-center flex-col">
			<div id="logo">
				<img src="/assets/Perfil-B.png" class="w-[50vh] h-[50vh]"/>
			</div>
		</div>
	</section>
	<section class="bg-zinc-950 text-white py-5 flex justify-center items-center" id="Sobre">
		<p class="text-sm text-center max-w-2xl leading-relaxed transition-transform duration-300 hover:scale-105 mx-auto">
			Desenvolvedor brasileiro de 24 anos, apaixonado por tecnologia, design e pela resolução de desafios complexos. Desde cedo, me apaixonei pelo mundo da programação e, ao longo dos anos, fui expandindo meus conhecimentos em diversas linguagens, como Python, Java, Go e ADVPL. Trabalho no desenvolvimento de sistemas, automação de rotinas e criação de soluções inovadoras, com foco em APIs, sistemas ERP, integração e mensageria.
		</p>
	</section>

	<section class="flex h-[100vh] bg-gray-300 shadow-xl relative justify-center items-center" id="Skills">
		<div class="w-3/4 h-3/4 bg-gradient-to-r from-gray-300 via-white to-gray-300  animate-pulse flex justify-center items-center">
		</div>
	</section>