<app-header></app-header>
<main>
	<section class="flex h-[80vh] bg-gray-200">
		<div class="w-1/2 bg-gray-200 relative flex flex-col justify-center items-center">
		  <p class="text-xl">Olá, <span class="inline-block animate-wave">👋</span></p>
		  <h1 class="text-5xl font-bold">Victor Viana</h1>
		  <p class="text-2x1 font-bold text-gray-500 mt-4">Engenheiro de Software</p>
		  <!-- ícones etc. -->
		</div>
	  
		<div class="w-1/2 bg-black flex clip-right items-center justify-center flex-col">
			<div id="logo">
				<img ngSrc="/vianadevfront/src/assets/Perfil.pngs" class=""/>
			</div>
			<div>
				<!-- Conteúdo adicional aqui -->
			</div>
		</div>
	</section>
</main>